td, th{
  padding: 1.3%;
  font-weight: bold;
}
th{
  height: 40px;
  background-color: white;
  color: rgb(255, 89, 6);
  cursor: pointer;
}

.activeTh{
  background-color: rgb(240, 104, 36);
  color: white;
}
tr{
  background-color: rgb(255, 134, 74);
}
tr:nth-child(even) {background-color: #FAA46B;}


